<h1> Contact Me<h1>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <label for="name">Name:</label><br>
    <input type="text" id="name" formControlName="name" required>
    <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">Name is required</div><br><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" formControlName="email" required>
    <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">Enter a valid email</div><br><br>

    <label for="subject">Subject:</label>
    <input type="text" id="subject" formControlName="subject" required>
    <div *ngIf="contactForm.get('subject')?.invalid && contactForm.get('subject')?.touched"> Enter subject</div><br><br>

    <label for="message">Message:</label><br>
    <textarea id="message" formControlNameame="message" rows="4" cols="50" required></textarea><br><br>
    <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched"> Enter your message </div>

    <button type="submit">Send</button>
</form>
