<h1>About Me</h1>
<p> My name is Refilwe Lily Ntlhaakgosi. I am a young lady of 25 years old. I was born in Gaborone and my home village is Digawana. <br> 
    I completed my primary and senior education at Crescent School. I am currently attending university at Botswana International University of 
    Science and Technology (BIUST), studying Bsc Information Systems and Data Management, level 300. <br> 
    My passions include anything entertainment like movies, music, video games, etc. Computers are my second passion because of how they work. 
    They way they operate and do things is what got me into computing. That's how i decided my career.<br>
    I am a shy person but I am friendly person once you get to know me  and  I love to learn new things no matter how challenging they may be.
</p>

